<header class="kaspi-header">
  <div class="container">
    <!-- Логотип и название слева -->
    <a [routerLink]="['/']" class="brand">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Kaspi.kz_logo.svg/120px-Kaspi.kz_logo.svg.png"
        alt="Kaspi.kz"
        class="logo"
      >
      <span class="brand-text">Alima's Marketplace</span>
    </a>

    <!-- Обертка для меню и корзины -->
    <div class="nav-cart-wrapper">

      <!-- Корзина рядом с меню -->
      <a [routerLink]="['/checkout']" class="button fancy-button" aria-label="Go to Checkout">
        <em class="material-icons">shopping_cart</em> Checkout
      </a>
    </div>
  </div>
</header>
